.header {
  background: linear-gradient(90deg, rgb(173, 173, 173) 10%, rgba(173, 173, 173, 0.58) 50%, rgba(173, 173, 173, 0.36) 80%);
}
.headerText {
  text-align: center;
}
.headerPhoto {
  width: 70%;
  bottom: -4px;
  margin-left: 20%;
  margin-top: 10%;
  position: relative;
}
.headerH1 {
  font-size: 45px;
  font-weight: 300;
  margin-top: 14%;
}
.headerFormName {
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}
.headerFormLabel {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
}
.headerFormInput {
  width: 100%;
  height: 30px;
  font-size: 21px;
  margin-bottom: 2%;
}
.headerFormDivButton {
  text-align: center;
  margin-top: 5%;
}
.headerFormMargin {
  margin: 5% 7% 5% 7%;
}
.headerForm {
  margin: 5%;
  background: rgba(237, 238, 240, 0.85);
  border: 1px solid;
}
@media (min-width: 768px) {
  .header {
    background-size: 100%;
  }
  .headerForm {
    margin: 5% 15% 5% 15%;
    background: rgba(237, 238, 240, 0.85);
    border: 1px solid;
  }
}
@media (max-width: 767px) {
  .headerText {
    margin: 12% 0 7% 5%
  }
  .headerPhoto {
    display: none;
  }
}
.Snackbar {
  top: 0;
  height: 20%;
  width: 170%;
}
