@media (min-width: 768px) {
  .appBarPhone {
    text-decoration: none;
    color: black;
    font-size: 22px;
    right: 2%;
    position: absolute;
  }
}
@media (max-width: 767px) {
  .appBarPhone {
    text-decoration: none;
    color: black;
    font-size: 25px;
    width: 100%;
    text-align: center;
  }
  .appBarPhoneSpan {
    display: none;
  }
  .appDiv {
    display: none;
  }
}
.appBarRoot {
  width: 100%;
  z-index: 2000;
}
.appBarToolbar {
  min-height: 50px;
}
.appBar {
  background: linear-gradient(90deg, rgb(173, 173, 173) 10%, rgb(208, 208, 208) 50%, rgb(225, 225, 225) 80%);
}
.appDiv {
  margin-left: 7%;
}
.appA {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 19px;
}
