.speech-container {
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,.4);
}
.speechBlock {
  padding: 5% 5% 3% 3%;  
}
.speechImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.speechP {
  font-size: 20px;
  margin-top: 0;
}
.speechGay {
  font-size: 15px;
}
.speechDiv {
  float: left;
}
.speechDiv2 {
  float: left;
}
@media(min-width: 768px) {
  .speechBlock {
    padding: 5% 5% 4% 25%;
    display: inline-block;
  }
}
@media(max-width: 767px) {
  .speechDiv {
    text-align: center;
    margin-left: 30%
  }
  .speechDiv2 {
    text-align: center;
  }
}
